.posts-container {
  width: 830px;
  margin: 47px auto;
}

.post-category {
  border-bottom: 1px solid #e0e0e0;
}
.post-category .active {
  color: #000000;
}
.post-category li {
  color: #8a8a8a;
}

.post-button button {
  font-weight: 500;
  border: none;
  font-size: 15px;
}

@media only screen and (max-width: 992px) {
  .posts-container {
    width: 100%;
  }
}
